<form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">

    <h2 class="form-title">Crear Nueva Tarea</h2>

    <!-- Datos de la Tarea -->
    <div class="datos-tarea">

        <div class="name-tarea">
            <label for="nombre">Nombre de la Tarea</label>
            <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre Tarea">
            <div class="error" *ngIf="tareaForm.get('nombre')?.invalid && tareaForm.get('nombre')?.touched">
                El nombre es obligatorio.
            </div>
        </div>

        <div class="fecha-tarea">
            <label for="fechaLimite">Fecha Límite</label>
            <input id="fechaLimite" formControlName="fechaLimite" type="date">
            <div class="error" *ngIf="tareaForm.get('fechaLimite')?.invalid && tareaForm.get('fechaLimite')?.touched">
                <span *ngIf="tareaForm.get('fechaLimite')?.errors?.['required']">La fecha límite es obligatoria.</span>
                <span *ngIf="tareaForm.get('fechaLimite')?.errors?.['fechaLimiteInvalida']">La fecha límite no puede ser menor a la fecha actual.</span>
            </div>  

        </div>

        <div class="prioridad-tarea">
            <label for="prioridad">Prioridad</label>
            <select id="prioridad" formControlName="prioridad" class="select-prioridad">
              <option value="Alta">Alta</option>
              <option value="Media">Media</option>
              <option value="Baja">Baja</option>
            </select>
            <div class="error" *ngIf="tareaForm.get('prioridad')?.invalid && tareaForm.get('prioridad')?.touched">
              La prioridad es obligatoria.
            </div>
        </div>

    </div>

    <!-- Personas -->
    <div formArrayName="personas" class="personas">
        <div *ngFor="let persona of personas.controls; let i=index" [formGroupName]="i">
            <h3>Persona {{ i + 1 }}</h3>

            <div class="persona-nombre">
                <label for="nombrePersona">Nombre Completo</label>
                <input type="text" id="nombrePersona" formControlName="nombre" placeholder="Nombre Completo">
                <div class="error" *ngIf="persona.get('nombre')?.invalid && persona.get('nombre')?.touched">
                    <span *ngIf="persona.get('nombre')?.errors?.['required']">El nombre es requerido</span>
                    <span *ngIf="persona.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 5
                        caracteres</span>
                </div>
            </div>

            <div class="persona-edad">
                <label for="edadPersona">Edad</label>
                <input type="number" id="edadPersona" formControlName="edad">
                <div *ngIf="persona.get('edad')?.invalid && persona.get('edad')?.touched">
                    <span class="error" *ngIf="persona.get('edad')?.errors?.['required']">La edad es requerida</span>
                    <span class="error" *ngIf="persona.get('edad')?.errors?.['min']">La edad debe ser mayor a 18</span>
                </div>
            </div>

            <!-- Habilidades -->
            <div formArrayName="habilidades" class="habilidades">
                <div *ngFor="let habilidad of getHabilidades(i).controls; let j = index" [formControlName]="j">

                    <div class="habilidad-item">
                        <label for="habilidad">Habilidad {{ j + 1 }}</label>

                        <div class="habilidad-item-row">
                            <input id="habilidad" [formControlName]="j" type="text">
                            <!-- <div class="error" *ngIf="getHabilidades(i).at(j)?.invalid && getHabilidades(i).at(j)?.touched"> -->
                            <div class="error" *ngIf="habilidad.invalid && habilidad.touched">
                                La habilidad no puede estar vacia
                            </div>
                            <button type="button" class="btn-agregar-habilidad" (click)="agregarHabilidad(i)"
                                [disabled]="getHabilidades(i).at(getHabilidades(i).length - 1)?.invalid">
                                Agregar Habilidad
                            </button>
                            
                            <button type="button" class="btn-eliminar-habilidad"
                                (click)="eliminarHabilidad(i, j)">Eliminar Habilidad</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="error" *ngIf="getHabilidades(i).length === 0">
                Cada persona debe tener al menos una habilidad.
            </div>

            <button type="button" class="btn-eliminar-persona" (click)="eliminarPersona(i)">Eliminar
                Persona</button>

        </div>
    </div>

    <div class="error" *ngIf="tareaForm.get('personas')?.errors?.['nombresDuplicados']">
        Los nombres de las personas no pueden repetirse.
    </div>

    <div class="btn-principales">
        <button type="button" class="btn-agregar-persona" (click)="agregarPersona()"
            [disabled]="personas.length > 0 && personas.at(personas.length - 1)?.invalid">
            Agregar Persona
        </button>

        <button type="submit" class="btn-crear-tarea" [disabled]="tareaForm.invalid">Crear Tarea</button>
    </div>

</form>